<table class="rwd-table" align="center">
    <tr>
        <th>Feature</th>
        <th>Compose Project </th>
        <th>CMP Project </th>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">API</td>
        <td data-th="Compose Project 庫">okhttp + retrofit2</td>
        <td data-th="CMP Project 庫">Ktor + Ktorfit</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">navigation</td>
        <td data-th="Compose Project 庫">navigation-compose</td>
        <td data-th="CMP Project 庫">navigation-compose</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">design</td>
        <td data-th="Compose Project 庫">material 3</td>
        <td data-th="CMP Project 庫">material 3</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">DI</td>
        <td data-th="Compose Project 庫">hilt</td>
        <td data-th="CMP Project 庫">koin</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">UI</td>
        <td data-th="Compose Project 庫">jetpack compose</td>
        <td data-th="CMP Project 庫">jetpack compose</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">JSON</td>
        <td data-th="Compose Project 庫">kotlinx.serialization</td>
        <td data-th="CMP Project 庫">kotlinx.serialization</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">Database</td>
        <td data-th="Compose Project 庫">room</td>
        <td data-th="CMP Project 庫">SqlDelight</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">Image</td>
        <td data-th="Compose Project 庫">coil</td>
        <td data-th="CMP Project 庫">coil</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">Push</td>
        <td data-th="Compose Project 庫">FCM, UM, HW</td>
        <td data-th="CMP Project 庫">可能需自行實作各平台</td>
    </tr>
    <tr>
        <td data-th="功能" class="td-subject">Splash</td>
        <td data-th="Compose Project 庫">splashscreen</td>
        <td data-th="CMP Project 庫">可能需自行實作或用 Compose 實現</td>
    </tr>
</table>