<div class="table_container">
    <p>目錄</p>
    <ol class="rectangle-list">
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-1">Compose Multiplatform 實戰：放輕鬆點，初探CMP</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-2">Compose Multiplatform 實戰：初戰，安裝CMP環境吧</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-3">Compose Multiplatform 實戰：續戰，用Wizard創建CMP專案</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-4">Compose Multiplatform 實戰：在Android、iOS模擬器上跑CMP專案</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-5">Compose Multiplatform 實戰：CMP的專案結構理解與編譯配置</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-6">Compose Multiplatform 實戰：CMP中跨平台Android、iOS程式碼的進入點</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-7">Compose Multiplatform 實戰：在CMP的Compose中用Material Design3 Theme</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-8">Compose Multiplatform 實戰：CMP用Compose實作跨平台畫面</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-9">Compose Multiplatform 實戰：使用 expect 和 actual 實現跨平台程式碼</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-10">Compose Multiplatform 實戰：CMP中實作Compose Navigation頁面切換</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-11">Compose Multiplatform 實戰：CMP中透過StateFlow來管理UI狀態</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-12">Compose Multiplatform 實戰：CMP中實作NavigationBar底部欄</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-13">Compose Multiplatform 實戰：CMP中使用koin來依賴注入Dependency Injection</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-14">Compose Multiplatform 實戰：CMP實作跨平台資料庫SqlDelight</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-day-15">Compose Multiplatform 實戰：CMP中使用ROOM開發跨平台資料庫 & 疑難雜症</a></li>
    </ol>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentUrl = window.location.href;

        document.querySelectorAll('.rectangle-list a').forEach(function(anchor) {
            if (anchor.href === currentUrl) {
                anchor.classList.add('current-page');
                anchor.addEventListener('click', function(event) {
                    event.preventDefault();

                });
            }
        });
    });
</script>