<div class="table_container">
    <p>目錄</p>
    <ol class="rectangle-list">
        <li><a href="{{site.baseurl}}/compose-multiplatform-guide">【Compose Multiplatform】專案轉移探討與開發指南</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-koin">【Compose Multiplatform】手機使用依賴注入Koin</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-di-context">【Compose Multiplatform 】跨平台App但Android需要context作法並搭配Koin</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-datastore">【Compose Multiplatform】手機本地持久化儲存DataStore實作</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-sqldelight">【Compose Multiplatform】手機資料庫SqlDelight實作</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-room">【Compose Multiplatform】CMP中使用ROOM開發資料庫 - [KSP2] Annotation value is missing in nested annotations</a></li>
        <li><a href="{{site.baseurl}}/compose-multiplatform-ios-cocoapods">【Compose Multiplatform】CMP專案中導入CocoaPods及無CocoaPods情況下使用IOS Swift/Obj-C</a></li>
    </ol>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentUrl = window.location.href;

        document.querySelectorAll('.rectangle-list a').forEach(function(anchor) {
            if (anchor.href === currentUrl) {
                anchor.classList.add('current-page');
                anchor.addEventListener('click', function(event) {
                    event.preventDefault();

                });
            }
        });
    });
</script>