<div class="table_first_wrapper">
    <div class="wrapper">
        <div class="table_first">
            <div class="row header green">
                <div class="cell">Function</div>
                <div class="cell">Lib</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">build</div>
                <div class="cell" data-title="Lib">gradle.kts + toml</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">api</div>
                <div class="cell" data-title="Lib">okhttp + retrofit2</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">navigation</div>
                <div class="cell" data-title="Lib">navigation-compose</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">design</div>
                <div class="cell" data-title="Lib">material 3</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">di</div>
                <div class="cell" data-title="Lib">hilt</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">ui</div>
                <div class="cell" data-title="Lib">jetpack compose</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">json</div>
                <div class="cell" data-title="Lib">kotlinx.serialization</div>
            </div>
            <div class="row">
                <div class="cell" data-title="Function">db</div>
                <div class="cell" data-title="Lib">room</div>
            </div>
        </div>
    </div>
</div>