<div class="table_container">
    <p>目錄</p>
    <ol class="rectangle-list">
      <li><a href="{{site.baseurl}}/android-jetpack-compose-structure-part1">Android 用Jektpack Compose 來開發app【01】 - 初期建構篇</a></li>
      <li><a href="{{site.baseurl}}/android-jetpack-compose-structure-part2">Android 用Jektpack Compose 來開發app【02】 - DI注入篇</a></li>
      <li><a href="{{site.baseurl}}/android-jetpack-compose-structure-part3">Android 用Jektpack Compose 來開發app【03】 - Compose導航篇</a></li> 
      <li><a href="{{site.baseurl}}/android-jetpack-compose-structure-part4">ndroid 用Jektpack Compose 來開發app【04】 - Compose畫面篇</a></li>
    </ol>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentUrl = window.location.href;

        document.querySelectorAll('.rectangle-list a').forEach(function(anchor) {
            if (anchor.href === currentUrl) {
                anchor.classList.add('current-page'); 
                anchor.addEventListener('click', function(event) {
                    event.preventDefault(); 
                    
                });
            }
        });
    });
</script>