<div class="prettyprint lang-html" style="font-size:18px; border-width:1px; border-style:dashed;">

  <div class= "table_container">
    1. Neofetch: Get Terminal System Info and Display Cool ASCII Logos!<br>
    <img style="padding-left:30px;" src="/images/env/neofetch.png" width="70%" /><br>
    2. Enhance Your MacOS Terminal with Zshrc and Powerlevel10k: The Ultimate Guide to Achieving a Sleek Look Using "Fira Code Light Nerd Font Complete Mono"! <br>
    <img style="padding-left:30px;" src="/images/env/zshrc.png" />
  </div>

</div>
