---
layout: home
---

{% if paginator.page %}
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign offset = 0 %}
  {% assign currentPage = 1 %}
{% endif %}

{% include search.html %}

{% assign posts = site.posts | limit:2 %}
{% assign portfolio = site.posts | where: "permalink", "/app_portfolio" | first %}
{% assign assign_post = site.posts | where: "permalink", "/android-qrcode-scanner-with-mlkit" | first %}


<div class="main-container">
		<div class="main-header anim" style="--delay: .5s">
			{% t global.pinned %}
		</div>
      <div class="main-blogs">
        <a class="main-blog anim" href="{{portfolio.url|prepend:site.baseurl}}" style="--delay: .2s; background-image: url({{'/images/cover/' | prepend: site.baseurl_root | append: 'android_portfolio.png'}})">
          <div class="main-blog__title">
            {{portfolio.title}}
          </div>
      		<div class="main-blog__author">
      			<div class="author-img__wrapper"><svg class="feather feather-check" viewbox="0 0 24 24">
      			<path d="M20 6L9 17l-5-5"></path></svg> <img class="author-img" src="{{'/images/'|prepend:site.baseurl_root|append:'champion.JPG'}}"></div>
      			<div class="author-detail">
      				<div class="author-name">{{site.author-name}}</div>
      				<div class="author-info">
      					{{portfolio.date | date: '%Y, %b %d'}}
      				</div>
      			</div>
      		</div>
      		<div class="main-blog__time">
            {% capture words %}{{ portfolio.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words |
                plus: 450 | divided_by: 450 | append: " minute read" }}{% endunless %}
      		</div>
      	</a>

			<a class="main-blog anim" href="{{assign_post.url|prepend:site.baseurl}}" style="--delay: .2s; background-image: url({{'/images/' | prepend: site.baseurl_root | append : assign_post.image}})">
				<div class="main-blog__title">
					{{assign_post.title}}
				</div>
				<div class="main-blog__author tips">
					<div class="main-blog__time">
            {% capture words %}{{ assign_post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words |
                plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
					</div>
					<div class="author-img__wrapper">
            <svg class="feather feather-check" viewbox="0 0 24 24">
              <path d="M20 6L9 17l-5-5"></path>
            </svg>
            <img class="author-img" src="{{'/images/' | prepend: site.baseurl_root | append: 'champion.JPG'}}"></div>
					<div class="author-detail">
						<div class="author-name">
							{{site.author-name}}
						</div>
						<div class="author-info">
							<span></span>{{assign_post.date | date: '%Y, %b %d'}}
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="small-header anim" style="--delay: .3s">
			{% t global.history %}
		</div>
	</div>

<div class="c-posts o-opacity" data-page="{{ currentPage }}" data-totalPages="{{ paginator.total_pages }}">
  {% for post in site.posts limit:site.paginate offset:offset %}

  <article class="c-post">
    {% if post.image %}
    <a class="c-post-thumbnail o-opacity" style="background-image: url({{"/images/" | prepend: site.baseurl_root | append : post.image}})"
        href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %} {% endif %}
    <div class="c-post-content">
      <h2 class="c-post-title">
        <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      </h2>
      <p>{{ post.content | strip_html | truncate: 50 }}</p>
      <span class="c-post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
      <span class="c-post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words |
          plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
    </div>
  </article> <!-- /.c-post -->
  {% endfor %}
</div> <!-- /.c-posts -->

{% assign postCount = site.posts | size %}
{% assign postsCovered = site.paginate | plus:offset %}
{% if postsCovered < postCount %}
  <button class="c-load-more c-btn c-btn--middle">Load more posts</button>
{% endif %}
{% include categories.html %}

<script>
    window.siteBaseUrl = "{{ site.baseurl }}";
</script>