<!-- <a href="" id="fb_share" title="Share on Facebook" rel="nofollow" target="_blank" ><div data-icon='ei-sc-facebook' data-size='s'></div></a>
  <script>
      window.onload = function() {
          fb_share.href ='http://www.facebook.com/share.php?u=' + encodeURIComponent(location.href);
      }
  </script> -->
<div id="fb_share_offical" class="fb-share-button" data-layout="button_count" data-size="small">share</div>
<!-- <div id="fb_share_offical" class="btn btn-success clearfix">Simple OG Dialog</div> -->

<!-- <script>
    window.onload = function() {
        fb_share_offical.data-href = encodeURIComponent(location.href);
    }
</script> -->

<script>
document.getElementById('fb_share_offical').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: encodeURIComponent(location.href);,
    hashtag: '#Android,#Kotlin,#ElegantAccess',
    quote: 'quote'
  }, function(response){});
}
</script>

<!-- <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><div data-icon='ei-sc-facebook' data-size='s'></div></a> -->
