<div id="swiper-container-browser-app" class="swiper-container two swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"  data-title="標題1" data-content="內容1" data-swiper-slide-index="0" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/01.png" alt="ms-browser-app 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/02.png" alt="ms-browser-app 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/03.png" alt="ms-browser-app 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/04.png" alt="ms-browser-app 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/05.png" alt="ms-browser-app 5">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/06.png" alt="ms-browser-app 6">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/07.png" alt="ms-browser-app 7">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/08.png" alt="ms-browser-app 8">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/09.png" alt="ms-browser-app 9">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/010.png" alt="ms-browser-app 10">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/011.png" alt="ms-browser-app 11">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/012.png" alt="ms-browser-app 12">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/013.png" alt="ms-browser-app 13">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/014.png" alt="ms-browser-app 14">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/015.png" alt="ms-browser-app 15">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/016.png" alt="ms-browser-app 16">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/browser/017.png" alt="ms-browser-app 17">
         </div>
      </div>


   </div>


	 <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
	    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>

	 </div>

   <div class="table_container">
     <p>Kid Browser app</p>
       Here are <b>the features I was responsible for</b>:<br>
       1. Developing new features.<br>
       2. Implemented product requirement screens.<br>
       3. Implemented feature of binding, integration with other apps, history tracking, token refresh, etc.<br>
       4. Completed in Kotlin<br>
       5. Integrating backend API with Okhttp and Retrofit.<br>
       6. Before starting the project, I was responsible for researching information on how to implement a browser and you can refer <a href="{{site.baseurl}}/safe_browser">here</a><br>
       7. Maintenance and debugging.

       <br><br>
       The image above shows the main UI of the Kid Browser, which includes the UI parts I was responsible for.<br>
       <br>
   </div>
</div>
