<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"> <img src="/images/portfolio/app/biz/01.png"/>
      <div class="swiper-overlay"></div>
      <div class="swiper-description">
        <h1>The Crown</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat.</p>
      </div>
    </div>
    <div class="swiper-slide"> <img src="/images/portfolio/app/biz/01.png"/>
      <div class="swiper-overlay"></div>
      <div class="swiper-description">
        <h1>The Crown</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat.</p>
      </div>
    </div>
    <div class="swiper-slide"> <img src="/images/portfolio/app/biz/01.png"/>
      <div class="swiper-overlay"></div>
      <div class="swiper-description">
        <h1>The Crown</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat.</p>
      </div>
    </div>
    <div class="swiper-slide"> <img src="/images/portfolio/app/biz/01.png"/>
      <div class="swiper-overlay"></div>
      <div class="swiper-description">
        <h1>The Crown</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat.</p>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>