<div id="swiper-container-browser-app" class="swiper-container two swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"  data-title="標題1" data-content="內容1" data-swiper-slide-index="3" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/chatAI/001.png" alt="ms-browser-app 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/chatAI/002.png" alt="ms-chat-ai-app 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/chatAI/003.png" alt="ms-chat-ai-app 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/chatAI/004.png" alt="ms-chat-ai-app 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/chatAI/005.png" alt="ms-chat-ai-app 5">
         </div>
      </div>

   </div>


   <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
      <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
   </div>

   <div class="table_container">
     <p>ChatInsight AI app</p>
       是一款AI聊天室的app
       以下是<b>我負責的功能</b>：<br>
       1. 開發新功能、實作產品需求的畫面。<br>
       2. 串接後端API、AWS S3...等功能。<br>
       3. Kotlin 100%<br>
       4. 使用Jetpack Compose(關於Jetpack compose分享請參考<a href="{{site.baseurl}}android-jetpack-compose-structure-part1">此文章</a>)<br>
       5. 維護、debug...等
   </div>
</div>
