<div id="swiper-container-car" class="swiper-container one swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"  data-title="標題1" data-content="內容1" data-swiper-slide-index="0" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/01.png" alt="dispatch-car-app 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/02.png" alt="dispatch-car-app 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/03.png" alt="dispatch-car-app 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/04.png" alt="dispatch-car-app 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/05.png" alt="dispatch-car-app 5">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/06.png" alt="dispatch-car-app 6">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="transform: translate3d(-150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: 0; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/07.png" alt="dispatch-car-app 7">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(-300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/08.png" alt="dispatch-car-app 8">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="3" style="transform: translate3d(-450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -3; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/09.png" alt="dispatch-car-app 9">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/10.png" alt="dispatch-car-app 10">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/11.png" alt="dispatch-car-app 11">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/12.png" alt="dispatch-car-app 12">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/call_car/13.png" alt="dispatch-car-app 13">
         </div>
      </div>
   </div>

	 <!-- Add Pagination -->

	 <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
	    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
	 </div>

      <div class="table_container">
        <p>Ride-car app</p><br>

        I have experienced two versions of this app, from version 8.0 to 9.0.<br>
        Here are <b>the features I was responsible for</b>:<br>
        1. Maintaining the app version 8.0 and fixing bugs.<br>
        2. Refactoring the app from Java to Kotlin.<br>
        3. Implemented UI requirements for version 9.0 based on project needs.<br>
        4. Implemented features such as login, ride-car, push notification, map, ad integration, and Crashlytics integration.<br>
        5. Developing with common libraries: Retrofit, OkHttp, RxJava, Dagger2, etc.<br>

        <br>
        The image above shows the main UI of the Ride-Hailing app, highlighting the parts I implemented.<br>
        <a href="https://play.google.com/store/apps/details?id=dbx.taiwantaxi&hl=en_US&gl=US" target="_blank">Project Reference</a>
        <br>
      </div>
</div>
