<div id="swiper-container-kp-app" class="swiper-container two swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"  data-title="標題1" data-content="內容1" data-swiper-slide-index="0" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/01.png" alt="kp 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/02.png" alt="kp 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/03.png" alt="kp 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/04.png" alt="kp 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/05.png" alt="kp 5">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/06.png" alt="kp 6">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="transform: translate3d(-150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: 0; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/07.png" alt="kp 7">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(-300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/08.png" alt="kp 8">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="3" style="transform: translate3d(-450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -3; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/09.png" alt="kp 9">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/10.png" alt="kp 10">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/11.png" alt="kp 11">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/kp/12.png" alt="kp 12">
         </div>
      </div>



   </div>

	 <!-- Add Pagination -->

	 <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
	    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>

	 </div>

   <div class="table_container">
     <p>AirDroid Parental app</p>
       以下是<b>我負責的功能</b>：<br>
       1. 維護該app。<br>
       2. 實作產品需求的畫面。<br>
       3. 主要負責<b>我的</b>這一頁的UI。<br>
       4. 解bug，如：UI顯示問題。<br>

       <br>
       上圖呈現的是AirDroid Parental主要的UI，放的是由我實作的部分，<br>
       <br>
   </div>
</div>
