<div class="swiper-container two swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/01.png" alt="ms-system-app 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/02.png" alt="ms-system-app 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/03.png" alt="ms-system-app 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/04.png" alt="ms-system-app 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/05.png" alt="ms-system-app 5">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/06.png" alt="ms-system-app 6">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="transform: translate3d(-150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: 0; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/07.png" alt="ms-system-app 7">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(-300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/08.png" alt="ms-system-app 8">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="3" style="transform: translate3d(-450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -3; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/09.png" alt="ms-system-app 9">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/10.png" alt="ms-system-app 10">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/11.png" alt="ms-system-app 11">
         </div>
      </div>
   </div>

	 <!-- Add Pagination -->

	 <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
	    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
	    <span class="swiper-pagination-bullet"></span>
	    <span class="swiper-pagination-bullet"></span>
	    <span class="swiper-pagination-bullet"></span>
	    <span class="swiper-pagination-bullet"></span>
	 </div>
</div>
