<div id="swiper-container-sys-app" class="swiper-container two swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/01.png" alt="ms-system-app 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/02.png" alt="ms-system-app 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/03.png" alt="ms-system-app 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/04.png" alt="ms-system-app 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/05.png" alt="ms-system-app 5">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/06.png" alt="ms-system-app 6">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="transform: translate3d(-150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: 0; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/07.png" alt="ms-system-app 7">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(-300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/08.png" alt="ms-system-app 8">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="3" style="transform: translate3d(-450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -3; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/09.png" alt="ms-system-app 9">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/10.png" alt="ms-system-app 10">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/ctms/11.png" alt="ms-system-app 11">
         </div>
      </div>
   </div>

	 <!-- Add Pagination -->

	 <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
	    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>

	 </div>

   <div class="table_container">
     <p>CTMS app</p>
       該產品有多個產品線需要完成。<br>
       我主要負責多個項目的開發，以下是<b>我實現的功能</b>：<br>
       1. 包括CTMS app、CCore SDK、Sature splash app、AWS Lambda串接、SGPCheckupdate app等。<br>
       2. CTMS 是一款與 Cashub Agent 配合使用的app：我在此專案專注於實現 UI、網路請求、本地儲存、AIDL溝通...等。<br>
       3. CCore SDK是專為第三方使用而設計的SDK：它提供了接口實現供第三方開發人員使用。<br>
       4. Sature Splash app 作為 POS 機的啟動應用程序，該app監聽Boot開機訊號，實作做頁面重新定向、API請求...等客製化功能。<br>
       5. AWS Lambda + S3：串接aws服務進我們的專案，例如：實現滿足某條件時，會像後端服務器發送對應POS的配置指令。<br>
       6. SGP Check Update、Ketting System app，旨在讓客戶利用 POS 機的功能，主要透過CTMS app 做UI的調整或是客製化功能的要求。<br>
       <br>
       上圖呈現的是CTMS app主要的UI，主要是給使用者一個介面去配置相關config與server溝通，<br>
       以及提供POS機內的資訊，操控底層API...等。<br>
   </div>

</div>
