<div id="swiper-container-remote-support-app" class="swiper-container two swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
   <div class="swiper-wrapper" style="transform: translate3d(-1429.5px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"  data-title="標題1" data-content="內容1" data-swiper-slide-index="0" style="transform: translate3d(750px, 0px, -1125px) rotateX(0deg) rotateY(0deg); z-index: -7; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/01.png" alt="remotesupport 1">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transform: translate3d(600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/02.png" alt="remotesupport 2">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transform: translate3d(450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -4; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/03.png" alt="remotesupport 3">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transform: translate3d(300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/04.png" alt="remotesupport 4">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" style="transform: translate3d(150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: -1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/05.png" alt="remotesupport 5">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/06.png" alt="remotesupport 6">
         </div>
      </div>
      <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="transform: translate3d(-150px, 0px, -225px) rotateX(0deg) rotateY(0deg); z-index: 0; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/07.png" alt="remotesupport 7">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="2" style="transform: translate3d(-300px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/08.png" alt="remotesupport 8">
         </div>
      </div>
      <div class="swiper-slide" data-swiper-slide-index="3" style="transform: translate3d(-450px, 0px, -675px) rotateX(0deg) rotateY(0deg); z-index: -3; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/09.png" alt="remotesupport 9">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/10.png" alt="remotesupport 10">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/11.png" alt="remotesupport 11">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/12.png" alt="remotesupport 12">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/13.png" alt="remotesupport 13">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/14.png" alt="remotesupport 14">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/15.png" alt="remotesupport 15">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/16.png" alt="remotesupport 16">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/17.png" alt="remotesupport 17">
         </div>
      </div>

      <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" style="transform: translate3d(-600px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5; transition-duration: 0ms;">
         <div class="slider-image">
            <img src="/images/portfolio/app/remotesupport/18.png" alt="remotesupport 18">
         </div>
      </div>


   </div>

	 <!-- Add Pagination -->

	 <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
	    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
	 </div>

   <div class="table_container">
     <p>Remote Support app</p>
       以下是<b>我負責的功能</b>：<br>
       1. 維護該app並開發新功能。<br>
       2. 實作產品需求的畫面、客製化UI。<br>
       3. <b>從零到有</b>實作QR code產生、掃描QR code、介紹頁、綁定、切換無/有人值守模式、權限、串接插件...等。<br>
       4. 串接服務端api、串接websoct長連接。<br>
       5. 新功能皆用Kotlin撰寫。<br>
       6. 該專案有與自己插件連動，實作引導下載，並新增、維護插件內鍵盤（InputMethodService）功能。<br>


       <br>
       上圖呈現的是該Remote Support app主要的UI，放的是由我實作的部分，<br>
       <br>
   </div>
</div>
