<!-- <a href="" id="fb_share" title="Share on Facebook" rel="nofollow" target="_blank" ><div data-icon='ei-sc-facebook' data-size='s'></div></a>
  <script>
      window.onload = function() {
          fb_share.href ='http://www.facebook.com/share.php?u=' + encodeURIComponent(location.href);
      }
  </script> -->
<div id="fb_share_offical" class="fb-share-button" data-href="" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Felegantaccess.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>share</div>
<script>
    window.onload = function() {
        fb_share_offical.data-href = encodeURIComponent(location.href);
    }
</script>

<!-- <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><div data-icon='ei-sc-facebook' data-size='s'></div></a> -->
