<nav class="navbar navbar-expand-lg mx-background-top-linear">
  <div class="container">
    <a class="navbar-brand" href="{{site.baseurl}}/">elegantaccess</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownPortfolio" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% t categories.portfolio %}
                        <span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                        {% for post in site.tags.portfolio %}
                        <li><a class="dropdown-item" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %} {% for page in site.pages %} {% if page.tags contains 'portfolio' %}
                        <li><a class="dropdown-item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                        {% endif %} {% endfor %}
                        <li><a class="dropdown-item" href="https://gist.github.com/KuanChunChen">{% t categories.gist %}</a></li>
                    </ul>
                </li>
                

                {% assign categories = site.categories %} {% for category in categories limit:5 %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown{{ category[0] }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ category[0] }} ({{ category[1].size }})
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ category[0] }}">
                        {% for post in category[1] %}
                        <li><a class="dropdown-item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% if categories.size > 5 %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMore" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% t categories.more %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMore">
                        {% for category in categories offset:5 %}
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="#" id="navbarDropdown{{ category[0] }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ category[0] }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% for post in category[1] %}
                                <li><a class="dropdown-item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

                <!-- End Dropdown Menu -->
            </ul>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Toggle submenus
  document.querySelectorAll('.dropdown-submenu > a').forEach(function(element) {
    element.addEventListener('click', function(e) {
      e.preventDefault();
      e.stopPropagation();

      // Close all other submenus within the same level
      let currentSubmenu = this.nextElementSibling;
      let siblingSubmenus = this.closest('.dropdown-menu').querySelectorAll('.dropdown-menu.show');
      siblingSubmenus.forEach(function(submenu) {
        if (submenu !== currentSubmenu) {
          submenu.classList.remove('show');
        }
      });

      // Toggle the current submenu
      currentSubmenu.classList.toggle('show');
    });
  });

  // Toggle main dropdown menu
  document.getElementById('navbarDropdownCategories').addEventListener('click', function(e) {
    e.preventDefault();
    e.stopPropagation();

    // Close all other main dropdowns
    let mainMenu = this.nextElementSibling;
    let otherMainMenus = document.querySelectorAll('.dropdown-menu.show');
    otherMainMenus.forEach(function(menu) {
      if (menu !== mainMenu) {
        menu.classList.remove('show');
      }
    });

    // Toggle the current main menu
    mainMenu.classList.toggle('show');
  });

  // Close all dropdowns when clicking outside
  document.addEventListener('click', function(e) {
    if (!e.target.closest('.dropdown-menu') && !e.target.closest('.nav-link.dropdown-toggle')) {
      document.querySelectorAll('.dropdown-menu.show').forEach(function(menu) {
        menu.classList.remove('show');
      });
    }
  });
});


</script>

