article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    // display: block
}

.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header .site-title {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
}

@media only screen and (min-width:550px) {
    .header .site-title {
        margin: 0;
        font-size: 100px
    }
}

.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}

@media only screen and (min-width:550px) {
    .header .site-description {
        font-size: 40px
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

@media only screen and (min-width:550px) {
    .header-links .link {
        font-size: 20px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center
}

.down,
.header-icons .icon2 {
    color: #fff;
    text-align: center
}

.header-icons .icon2 {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px
}

.header-icons .icon2:active,
.header-icons .icon2:hover {
    color: #1488CC;
    background: #fff
}

@media only screen and (min-width:550px) {
    .header-icons .icon2 {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}


.fa-linkedin-square:before {
    content: "\f08c"
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-linkedin:before {
    content: "\f0e1"
}



#particles-js {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}


#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}

.fa-github-alt:before {
    content: "\f113"
}

.fa-file-pdf-o:before {
    content: "\f1c1"
}

.down .icon2:active,
.down .icon2:hover,
.footer a:active,
.footer a:hover {
    color: #4b5664
}

.footer {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    color: #fff
}

.footer .love {
    color: red
}

.footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
}

.down .icon2 {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.fa.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right {
    margin-left: .3em
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}

.profile-img {
  display: block; /* 讓圖片變成一個區塊元素 */
  margin: 0 auto; /* 設置左右邊距為auto，使圖片水平置中 */
  border-radius: 50%; /* 設置圓角為50%來使圖片變成圓形 */
  width: 30px; /* 設置圖片的寬度 */
  height: 150px; /* 設置圖片的高度 */
}

.user-details {
    text-align: center;
    margin: 5px auto
}

#about {
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}

@media only screen and (min-width:550px) {
    #about {
        width: 80%
    }
}

.user-title {
    margin: .67em 0;
    font-size: 2.5rem;
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333
}
