/* ===============
	COLORS
=============== */

$primary-color: #33aaff;
$secondary-color: #cfcfdd;
$alternate-color: #404040;
$red-color: #ee6c6c;
$green-color: #55bf55;
$white-color: #ffffff;


$dark: #222222;
$dark-gray: #333333;
$darkest: #444444;

$gray: #a0a0a0;
$gray-dark: #757575;
$gray-light: #dddddd;
$gray-lighten: #edeeee;
$gray-lighter: #cccccc;

$blue: #33aaff;
$blue-light: #cfcfdd;
$blue-lighter: #dce4ea;
$blue-dark: #263959;
$blue-dark-2: #375FA6;


// Background Colors
$background: #fbfbfb;
$alternate-background: #fafafa;


// Body Color
$text-color: #404040;


// Headings
$heading-font-color: #404040;


// Links
$link-color: $primary-color;
$link-color-hover: darken($link-color, 15%);


// Border
$border-color: #f0f0f0;

// Post Title
$primary-title: #679399;
$secondary-title-color: #E6C8D7;
$third-title-color: #B0E0E6;
$four-times-title-color: #E6DD9A;
$five-times-title-color: #99946E;

$secondary-color-more-1: #80463C;
$four-times-color-more-1: #666244;
