/* Dropdown Button */
.language-dropbtn {
  background-color: transparent;
  color: white;

  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.language-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  left: auto;
  overflow: hidden;
}

/* Links inside the dropdown */
.language-dropdown-content a {
  color: black;
  font-size: 15px;
  line-height: 2.2;
  width: 100%;
  background-color: #eee;
  display: flex;
  text-align: right;
  padding: 10px;
}

/* Change color of dropdown links on hover */
.language-dropdown-content a:hover {
  background-color: #ddd;
}

.language-dropdown-content img {
  max-width: 25px;
}

/* Show the dropdown menu on hover */
.language-dropdown:hover .language-dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.language-dropdown:hover .language-dropbtn {
  background-color: #3e8e41;
}

@media (max-width: 650px) {
  .language-dropbtn {
    width: 100%;
    display: block;
  }

  .language-dropdown-content {
    position: static;
    width: 100%;
    max-height: none;
    overflow-y: auto;
    box-shadow: none;
  }

  .language-dropdown-content.show {
    display: block;
  }
}
