/* 全局样式 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 16px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #757575;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbar-toggler {
  display: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.navbar a,
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 8px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #F6C33F;
}

.navbar-brand {
  color: #333333;
  text-transform: uppercase;
}

/* 背景样式 */
.mx-background-top-linear {
  background: linear-gradient(135deg, #616161 25%, #9E9E9E 25%);
}

/* 按钮样式 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* 下拉菜单样式 */
.dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
}

.dropdown-menu a.dropdown-item {
  color: #616161;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.dropdown-menu a.dropdown-item:hover,
.dropdown-menu a.dropdown-item:focus {
  color: #fff;
  background-color: #757575;
  border-radius: 4px;
}

.dropdown-menu a.dropdown-item.active {
  background-color: #5f6368;
  color: #fff;
}

/* 媒体查询 */
@media (max-width: 991px) {
  .navbar {
    margin-top: 32px;

  }
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    display: block;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    max-width: 100%;
    box-sizing: border-box;
  }
  .dropdown-menu a.dropdown-item {
    font-size: 14px;
    padding: 0.5rem 1rem;
    white-space: normal;
    word-wrap: break-word;
  }
  .navbar-collapse {
    max-height: 75vh;
    overflow-y: auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

